
<% query_results.forEach((result) => { %>
    <a id="<%= result.relevance %>" class="search_result" onclick="href = '<%= result.urlHouse %>'" target="_blank">
        <img class="search_result_image" src="<%= result.urlImage %>" alt="image">

        <section class="search_result_title">
            <h4><span><%= result.title %></span></h4>
        </section>

        <section class="label">
            <p><span>Address:</span></p> 
            <p><span>Price:</span></p> 
            <p><span>Price:</span></p> 
            <p><span>Beds:</span></p> 
        </section>
        <section class="values">
            <p><span><%= result.address %></span></p>
            <p><span><%= result.price %></span></p>
            <p><span><%= result.price %></span></p>
            <p><span><%= result.beds %></span></p>
        </section>

        <!-- <p class="search_result_city"><span><%= result.city %></span></p> -->

        <!-- <p class="search_result_rating"></p>
        <p class="search_result_reviews"></p>
        <p class="search_result_link"></p> -->
        </a>
<% }); %> 

