
<% query_results.forEach((result) => { %>
    <section id="<%= result.relevance %>" data-id="<%= result.id %>" class="search_result" >
        <a class="search_result_image" onclick="href = '<%= result.urlHouse %>'" target="_blank">
            <img src="<%= result.urlImage %>" alt="image">
        </a>

        <section class="search_result_title">
            <h4><span><%= result.title %></span></h4>
        </section>

        <section class="main_info">
            <p id="search_result_state"><span>City: <%= result.city %></span></p>
            <p id="search_result_city"><span>State: <%= result.state %></span></p>
        </section>

        <section class="label">
            <p><span>Address:</span></p> 
            <p><span>Price:</span></p> 
            <p><span>Beds:</span></p> 
        </section>
        <section class="values">
            <p><span><%= result.address %></span></p>
            <p><span><%= result.price %></span></p>
            <p><span><%= result.beds %></span></p>
        </section>
        <!-- <button class="similar" onclick="href = '#'">Similar Houses</button> -->

        <span class="similar_butt"><a href="#"></a></span>

        <!-- <p class="search_result_city"><span><%= result.city %></span></p> -->

        <!-- <p class="search_result_rating"></p>
        <p class="search_result_reviews"></p>
        <p class="search_result_link"></p> -->
        </section>
<% }); %> 

