
<% query_results.forEach((result) => { %>
    <section id="<%= result.relevance %>" class="search_result">
        <h4 class="search_result_title"><span><%= result.title %></span></h4>
        <p class="search_result_description"><span><%= result.description %></span></p>
        <p class="search_result_price"><span><%= result.price %></span></p>
        <p class="search_result_location"><span><%= result.location %></span></p>
        <p class="search_result_rating"></p>
        <p class="search_result_reviews"></p>
        <p class="search_result_link"></p>
    </section>
<% }); %> 

